---
import { site } from "../data/site";
---

<footer class="site-footer">
  <p>Cai Dongchen / 蔡東辰</p>
  <p>
    <a href={`mailto:${site.email}`}>{site.email}</a>
    <span aria-hidden="true">/</span>
    <a href={`https://www.instagram.com/${site.instagram}/`}>@{site.instagram}</a>
  </p>
</footer>
